
{% extends "template.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                {% include "menu.twig" %}          
            </div>
            <div class="col-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Alunos</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/students/add" class="btn btn-primary" style="float:right;">
                                Cadastrar Aluno
                            </a>                 
                        </div>
                        <form class="form-inline">
                            <div class="form-group mb-2">
                                
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Procurar</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Registro Acadêmico</th>
                                <th scope="col">Nome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">CPF</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for user in data %}
                                    <tr>
                                        <td>
                                            {{user.ar}}
                                        </td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.document}}</td>
                                        <td>
                                            <a href="/students/remove/{{user.id}}" class="btn btn-sm btn-primary">
                                                Excluir
                                            </a>
                                            <a href="/students/edit/{{user.id}}" class="btn btn-sm btn-primary" style="margin-right: 5px;">
                                                Editar
                                            </a>
                                        </td>
                                    </tr>   
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

